/* General Container */
.section5-container {
    padding: 0;
}

.TheJoy,
.bmwWallpaper,
.skyTop {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

.TheJoy img {
    transition: transform 5s ease;
    /* Smooth zoom-in effect */
}

.TheJoy:hover img {
    transform: scale(1.1);
    /* Zoom-in effect */
}

.overlay-text-left {
    padding: 10px 20px;
    border-radius: 5px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.subtitle {
    font-size: 20px;
    margin: 0;
}


.skyTop,
.bmwWallpaper,
.TheJoy {
    position: relative;
}

.TheJoy {
    border-right: 1px solid white;
}

.overlay-text {
    position: absolute;
    bottom: 10px;
    /* background-color: red; */
    left: 10px;
    color: rgb(19, 19, 19);
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.overlay-text-left {
    position: absolute;
    bottom: 10px;
    background-color: red;
    left: 10px;
    color: rgb(19, 19, 19);
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.subtitle-small {
    font-size: 0.9rem;
    margin-top: 5px;
}